.ko-calendar {

	display: inline-blpck;
	font-family: sans-serif;

	table {
		border-collapse: collapse;

		thead {
			th {

			}
		}

		tbody {
			a {
				display: block;

				width: 50px;
				line-height: 50px;

				text-align: center;
				text-decoration: none;

				border-radius: 3px;

				color: #333;

				&:hover {
					background: @hover;
				}

				&.active {
					background: @active;
				}
			}

			.today {
				a {
					background: @hover;
				}
			}
			.weekend {
				a {
					color: #ccc;
					&:hover {
						background: @hover;
					}
				}
			}
		}
	}
}
